@import "tailwindcss";

@theme {
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

.caret::after {
  content: "▍";
  margin-left: 1px;
  animation: blink 1s steps(1) infinite;
  color: var(--color-indigo-500);
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
